# --- For both .env and .env.docker ---

SECRET_KEY=your_very_secret_key

MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=password_smtp
MAIL_FROM=your_email@example.com

ADMIN_EMAIL=admin@example.com

COMPANY_DOMAIN=example.com

POSITIONS=CEO,Продакт-мененджер,Frontend-разработчик

# --- Database Configuration ---

# for .env
DATABASE_URL=postgresql+asyncpg://username:password@localhost/database_name
TEST_DATABASE_URL=postgresql+asyncpg://username:password@localhost/test_database_name

# for .env.docker
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=db_name

DATABASE_URL=postgresql+asyncpg://username:password@db:5432/db_name
TEST_DATABASE_URL=postgresql+asyncpg://username:password@db:5432/test_database_name

REDIS_URL=redis://redis:6379/0
APP_PORT=8000
